.vantagens-bg {
  background-color: var(--b);
}

.vantagens {
  padding-top: 120px;
  padding-bottom: 120px;
}

.vantagens h2 {
  margin-bottom: 60px;
}

.vantagens ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, max-content));
  gap: 40px 80px;
}

.vantagens img {
  margin-bottom: 8px;
}

.vantagens h3 {
  margin-bottom: 16px;
}

@media (max-width: 800px) {
  .vantagens {
    padding: 40px 20px;
  }
  .vantagens h2 {
    font-size: 32px;
    margin-bottom: 48px;
  }
  .vantagens img {
    max-width: 25px;
  }
}